* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 47%, rgba(9,9,121,1) 81%, rgba(11,3,70,0.9853524173341212) 100%);
}
img {
    width: 100%;
    margin-bottom: 10px;
}

.bi{
    font-size: 30px;
}
.nav-logo{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    transition: all 0.5s;
}
.nav-logo:hover{
    text-shadow: 3px 4px 9px rgba(0,0,0,1);
    font-size: 45px;
}

.nav-logo-link{
    text-decoration: none;
}


#contenedor-productos {
    max-width: 1200px;
    /*margin: 60px auto;*/
    display:flex;
    
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}
p {
    line-height: 1.8;
}
.producto {
    display: inline-block;
    background-color: white;
    width: 18%;
    height: 470px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

}
.precioProducto {
    font-weight: 700;
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}
